In [9]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import seaborn as sns
import script
import matplotlib.pyplot as plt
from itertools import product
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, RepeatedKFold
from sklearn.metrics import mean_squared_error
import statsmodels.api as sma

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
df = sns.load_dataset('tips')
y_col = 'tip'
y = df[y_col].values
numeric_cols = df.drop(columns=y_col).select_dtypes(include='number').columns.to_list()
X = pd.get_dummies(df.drop(columns=y_col), drop_first=True)

# scaler = StandardScaler()
# X_scaled = scaler.fit_transform(df[numeric_cols])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

scaler = StandardScaler()
X_train_scaled = X_train.copy()
X_train_scaled[numeric_cols] = scaler.fit_transform(X_train[numeric_cols])
X_test_scaled = X_test.copy()
X_test_scaled[numeric_cols] = scaler.fit_transform(X_test[numeric_cols])

model = LinearRegression()
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)
y_pred

mean_squared_error(y_test, y_pred)

0.9259568262056561

In [22]:
y_test

array([2.64, 3.76, 3.51, 1.  , 2.5 , 1.  , 3.08, 5.65, 3.5 , 3.68, 5.  ,
       4.29, 2.5 , 2.  , 1.58, 5.6 , 1.5 , 3.  , 3.  , 4.  , 2.  , 4.08,
       2.  , 1.96, 2.  , 2.5 , 2.2 , 4.2 , 4.71, 2.23, 2.2 , 2.52, 1.57,
       1.61, 3.  , 2.61, 3.07, 2.  , 9.  , 3.  , 1.92, 1.8 , 3.  , 5.14,
       2.23, 3.5 , 3.76, 3.92, 3.  , 3.12, 5.  , 2.  , 4.06, 5.  , 4.  ,
       1.5 , 5.07, 2.45, 2.5 , 2.5 , 4.  , 3.16, 3.  , 3.75, 3.09, 3.  ,
       3.23, 1.17, 1.67, 3.  , 3.  , 1.25, 3.61, 4.  ])

In [10]:
df = sns.load_dataset('tips')
X = df['total_bill'].values.reshape(-1, 1)
y = df['tip']
k = 5
n_repeats = 3
cv = RepeatedKFold(n_splits=k, n_repeats=n_repeats, random_state=0)
model = LinearRegression()
mse_list = []
for train_index, test_index in cv.split(X):
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = y[train_index], y[test_index]
  # モデル学習
  model.fit(X_train, y_train)
  # テストデータ予測
  y_pred = model.predict(X_test)
  # MSE
  mse = mean_squared_error(y_test, y_pred)
  mse_list.append(mse)

print(f"MSE({k}FoldCV): {np.mean(mse_list)})")
print(f"std: {np.std(mse_list)})")
mse_list

MSE(5FoldCV): 1.0746387233165982)
std: 0.2651717854089844)

[0.8213090642766285,
 1.0745842125927976,
 1.0880123892600388,
 1.3323867714930204,
 1.084763004349474,
 1.1587839131131425,
 1.6042084002514578,
 1.0307086207441924,
 0.7120290668798743,
 0.8472985410140897,
 0.8856103319481908,
 1.5248521639391936,
 0.6332659028150582,
 1.200354200262607,
 1.121414266809207]

In [4]:
df.head

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4